* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Merriweather Sans', sans-serif;
}

a {
    color: #837E9F;
}

/*
ul {
    list-style: none;
    margin: unset;
    padding: 0px;
}*/

body {
    width: 100%;
    min-height: 100vh;
    background-color: #22212C;
    margin: 0;
    padding: 0;
    color: #837E9F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}


.portfolio-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 95%;
    min-height: 100vh;
    padding: 1.3rem;
    gap: 1.3rem;
}

.portfolio-aside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 10%;
    min-width: 20rem;
    gap: 1rem;
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #302F3D;
    box-shadow: 1px 1px 3px black;
    width: 100%;
    padding: 1.3rem;
    border-radius: 20px;
}

.group a {
    color: #837E9F;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid lightgray;
    overflow: hidden;
}

.profile-photo img {
    height: 10rem;
}

.profile-subtitle {
    text-align: center;
    font-size: 14px;
}

.portfolio-infolist {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.group:nth-child(2) ul li,
.group:nth-child(2) ul li a {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    list-style: none;
}

.group:nth-child(3) {
    align-items: flex-start;
    gap: 0.5rem;
    list-style: none;
}

.portfolio-hardskills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.portfolio-hardskills li {
    display: flex;
    background-color: #CB92B1;
    border-radius: 20px;
    width: 80px;
    height: 20px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    color: #22212C;
    font-weight: 700;
}

.group:nth-child(4),
.group:nth-child(5) {
    align-items: flex-start;
    gap: 0.5rem;
}

.portfolio-infos {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    gap: 0.3rem;
}

.portfolio-infos p {
    font-size: 12px;
}

.portfolio-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    width: 70%;
    min-width: 520px;
    gap: 1.3rem;   
}


.menu-project {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.3rem;
}

.portfolio-project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.3rem;
}

.project {
    align-items: flex-start;
}

.project>main>p,
.project>footer>p,
.project>footer>a {
    font-size: 14px;
}

.title-project {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.itens-project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;   
}

.item-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.post {
    flex-direction: row;
    align-items: flex-start;
    gap: 0.3rem;
}

.icon-post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    width: 30%;
    padding: 1.3rem;    
}

.photo-post {
    display: flex;
    justify-content: center;
    align-items: center;       
    border-radius: 50%;    
    overflow: hidden;
}

.photo-post img {
    height: 8rem;
}

.tags-post {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-top: 0.8rem;
}

.portfolio-author {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 2rem;
    font-size: 14px;
}

/*mobile*/

@media(max-width: 900px){
    .portfolio-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .project-main {
        justify-content: center;
        align-items: center;
    }

    .menu-project {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
    }

    .portfolio-project {
        flex-direction: column;
        justify-content: center;
        align-items: center;        
    }

    .project {
        width: 65%;
    }

    .project-section {        
        justify-content: center;
        align-items: center;        
    }

    .project-section:nth-child(2) {
        display: none;
    }


}